<ion-header>
  <ion-toolbar>
    <ion-title>new-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="height:700px">
    <ion-card-content>
      <ion-img [src]="photo_url"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>{{ name }}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>  
  <ion-card>
    <ion-card-content>
      <ion-button (click)="nextMember()" color="primary">Next!</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
