<ion-header>
  <ion-toolbar>
    <ion-title>
      HIIT TIMER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  (submit)="onSubmit()"><!-- [formGroup]="hiitForm" -->
    <ion-item>
      <ion-label>Exercise time:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>      
      <ion-label>Rest time:</ion-label>
      <ion-input></ion-input>    
    </ion-item>
    <ion-item>
        <ion-button type="submit" color="primary">Start!</ion-button>
    </ion-item>
    <ion-item>
      <ion-label style="font-size:148px; text-align: center">00s</ion-label>
    </ion-item>
  </form>
</ion-content>
