<ion-header>
  <ion-toolbar>
    <ion-title>
      HIIT TIMER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="hiitForm" (submit)="onSubmit()">
    <ion-item>
      <ion-label>Exercise time:</ion-label>
      <ion-input max="999" formControlName="exerciseTime" type="number"></ion-input>
    </ion-item>
    <ion-item>      
      <ion-label>Rest time:</ion-label>
      <ion-input formControlName="restTime" type="number"></ion-input>    
    </ion-item>
    <ion-item>
        <ion-button type="submit" color="primary">Start!</ion-button>
    </ion-item>
    <ion-item>
        <ion-label style="font-size:148px; text-align: center">{{count}}s</ion-label>
    </ion-item>    
    <ion-item>
        <countdown style="font-size:148px; text-align: center"
          #counter [config]="{leftTime: 0, demand: true}">$!s!</countdown>  
    </ion-item>
  </form>
</ion-content>
